In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import geopy
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="https://maps.googleapis.com/maps/api/directions/json?origin=Disneyland&destination=Universal+Studios+Hollywood&key=AIzaSyAYdAX4sRgR_MuiaabeqYaQmrpKKmqrmyQ")

In [28]:
df = pd.read_excel("/Users/zhuziyue/Desktop/lat.xlsx")

print(df)

     Number         Dis No                                            Country  \
0       4.0  2000-0379-GRC                                             Greece
1       NaN  2000-0379-GRC                                             Greece
2       NaN  2000-0379-GRC                                             Greece
3       NaN  2000-0379-GRC                                             Greece
4       NaN  2000-0379-GRC                                             Greece
..      ...            ...                                                ...
171   130.0  2018-0226-KOR                            Korea (the Republic of)
172   136.0  2019-0296-GBR  United Kingdom of Great Britain and Northern I...
173     NaN  2019-0296-GBR  United Kingdom of Great Britain and Northern I...
174   142.0  2019-0366-NLD                                  Netherlands (the)
175   148.0  2020-0530-NLD                                  Netherlands (the)

                               City
0    Anatoliki Makedonia Kai Thraki
1                            Attiki
2                     Dytiki Ellada
3                  Dytiki Makedonia
4                      Ionioi Nisoi
..                              ...
171                  Entire country
172                        Cornwall
173                      Manchester
174                  Entire country
175                  Entire country

[176 rows x 4 columns]

In [29]:
list = []

def lat_lon(Location):
    location = geolocator.geocode(Location)
    if location is not None:
        lat = location.latitude
        lon = location.longitude
        list.append([Location, lat, lon])
        return print(Location, lat, lon)

In [30]:
df["Location"] = df["City"] + ", " + df["Country"]

for i in df["Location"]:
    lat_lon(i)

Attiki, Greece 37.9946543 23.79940251269328
Dytiki Ellada, Greece 38.6862245 22.0995527
Kriti, Greece 35.5307519 23.8089529
Thessalia, Greece 39.5594194 21.6848495
Bucuresti, Romania 44.4361414 26.1027202
Moskva, Russian Federation (the) 55.7504461 37.6174943
Burgenland, Austria 47.5000001 16.4166666
Karnten, Austria 46.7500001 13.8333333
Niederosterreich, Austria 48.2817813 15.7632457
Oberosterreich, Austria 48.25 14.0
Salzburg, Austria 47.7981346 13.0464806
Tirol, Austria 47.223193 11.5261028
Voralberg, Austria 47.39139765 9.728270589443396
Bjelovar-bilogora, Croatia 45.8986944 16.8422031
Dubrovnik-Neretva, Croatia 42.6502473 18.0924947
Grad Zagreb, Croatia 45.8011683 15.97706172248073
Istra, Croatia 45.193434499999995 13.915053587355306
Karlovac, Croatia 45.4892522 15.5486303
Koprivnica-krizevci, Croatia 46.162359 16.8308094
Krapina-zagorje, Croatia 46.1628028 15.8711133
Lika-senj, Croatia 44.630214 15.341356
Medimurje, Croatia 46.4232963 16.4661353
Osijek-baranja, Croatia 45.5548719 18.6953719
Pozega-slavonija, Croatia 45.3368143 17.673534467694594
Primorje-gorski Kota, Croatia 44.9584112 14.4094841
Å ibenik, Croatia 43.7337065 15.8964835
Sisak-moslavina, Croatia 45.488809 16.3754052
Varazdin, Croatia 46.3079645 16.3378198
Virovitica-podravina, Croatia 45.8331834 17.3853058
Vukovar-srijem, Croatia 45.3444116 19.0023817
Guangzhou city (Guangzhou district, Guangdong Sheng province), China 23.01196865 113.39835434917498
Diekirch, Luxembourg 49.8690898 6.1600549
Grevenmacher, Luxembourg 49.679313 6.4430979
Alba, Romania 46.015921250000005 23.54685524706489
Arad, Romania 46.1753793 21.3196342
Arges, Romania 44.994993550000004 24.848632440149892
Bacau, Romania 46.42613415 26.71205400126924
Bihor, Romania 46.992055 22.190274243393223
Bistrita-nasaud, Romania 47.1772493 24.541141488483973
Botosani, Romania 47.85234105 26.759511926593397
Braila, Romania 45.2716092 27.9742932
Brasov, Romania 45.6523093 25.6102746
Bucuresti, Romania 44.4361414 26.1027202
Buzau, Romania 45.26925815 26.7748172789942
Calarasi, Romania 44.315187449999996 27.13901564813344
Caras-severin, Romania 45.12713445 22.077144477556658
Cluj, Romania 46.769379 23.5899542
Constanta, Romania 44.1767161 28.6507598
Covasna, Romania 45.896679250000005 26.010180611745668
Dimbovita, Romania 44.7677425 25.5620315
Boj, Romania 45.8973594 23.1503821
Galati, Romania 45.4338215 28.0549395
Giurgiu, Romania 43.8959058 25.9658111
Gorj, Romania 44.961167450000005 23.325679902293135
Harghita, Romania 46.6440949 25.620080897737118
Hunedoara, Romania 45.7958547 22.944483784106403
Ialomita, Romania 44.598095900000004 27.20396979270908
Iasi, Romania 47.1615341 27.5836142
Maramures, Romania 47.672161 24.195473673014465
Mehedinti, Romania 44.6042177 23.05267739338317
Mures, Romania 46.60646055 24.62467862914629
Neamt, Romania 46.990657 26.48491657449838
Olt, Romania 44.29140195 24.46610792597381
Prahova, Romania 45.10875455 26.03762296377709
Salaj, Romania 47.1562143 23.01685986860678
Satu Mare, Romania 47.7891763 22.8725598
Sibiu, Romania 45.7973912 24.1519202
Suceava, Romania 47.53265345 25.834593917414125
Teleorman, Romania 44.06812915 25.18653177142434
Timis, Romania 45.69131845 21.632126831488254
Tulcea, Romania 45.177518 28.8016348
Vaslui, Romania 46.4977648 27.803085484685425
Vilcea, Romania 45.1031731 24.3647209
Bucuresti province, Romania 46.7818231 23.6121089
Thessalia, Greece 39.5594194 21.6848495
Dytiki Ellada, Greece 38.6862245 22.0995527
Attiki, Greece 37.9946543 23.79940251269328
Aiti, Japan 34.9991645 137.254574
Ehime, Japan 33.6013646 132.8185275
Gifu, Japan 35.7867449 137.0460777
Gunma, Japan 36.52198 139.033483
Hirosima, Japan 34.3916058 132.4518156
Hukui, Japan 35.1134587 135.3356716
Hukuoka, Japan 36.7081496 136.9317149
Hukusima, Japan 37.75454 140.4592144
Ibaraki, Japan 36.2869536 140.4703384
Isikawa, Japan 40.5567587 140.5298481
Kagawa, Japan 35.3562043 139.3999184
Kagosima, Japan 31.521587 130.5474077
Kanagawa, Japan 35.4715259 139.6275201
Kooti, Japan -3.1110771 37.5985937
Kumamoto, Japan 32.6450475 130.6341345
Mie, Japan 34.7339685 136.5154489
Miyagi, Japan 34.9743154 139.8396996
Miyazaki, Japan 31.9076334 131.4204022
Nagano, Japan 36.1143945 138.0319015
Nagasaki, Japan 33.1154683 129.7874339
Nara, Japan 34.2963089 135.8816819
Niigata, Japan 37.6452283 138.7669125
Okayama, Japan 34.6553944 133.9194595
Okinawa, Japan 26.4748948 127.91146866408414
Ooita, Japan 33.2393864 131.6096524
Oosaka, Japan 35.4945398 134.358479
Saga, Japan 33.2185408 130.1296585
Saitama, Japan 35.9754168 139.4160114
Siga, Japan 35.247154 136.109385
Simane, Japan 34.9418212 132.537439
Sizuoka, Japan 34.979149 138.38299
Tiba, Japan 35.549399 140.2647303
Tokusima, Japan 33.9196418 134.2509634
Totigi, Japan 36.6782167 139.8096549
Tottori, Japan 35.3555075 133.8678525
Toyama, Japan 36.6957569 137.2136215
Wakayama, Japan 34.234617 135.1782181
Yamagata, Japan 38.2553393 140.3400205
Yamaguti, Japan 34.702109 137.532735
Banska Bystrica, Slovakia 48.7384028 19.1573494
Bratislava, Slovakia 48.1516988 17.1093063
Kosice, Slovakia 48.7172272 21.2496774
Nitra, Slovakia 48.31295 18.0894593
Presov, Slovakia 48.9975724 21.2401811
Trencin, Slovakia 48.8923583 18.0393715
Trnava, Slovakia 48.3767652 17.5858175
Moska, Russian Federation (the) 55.7504461 37.6174943
Moskovskaya Oblast, Russian Federation (the) 56.3209761 43.9471056
Volgogradskaya Oblast, Russian Federation (the) 51.8416436 55.1277915
England, United Kingdom of Great Britain and Northern Ireland (the) 52.5310214 -1.2649062
Vlaams Gewest, Belgium 51.096246199999996 4.178629103169916
Region de Bruxelles-Capitale / Brussels Hoofdstedelijk Gewes, Belgium 50.8584406 4.3557975
Andhra Pradesh, India 15.9240905 80.1863809
Telangana, India 17.8495919 79.1151663
Maharashtra, India 18.9068356 75.6741579
Odisha (Orissa), India 20.5431241 84.6897321
Cornwall, United Kingdom of Great Britain and Northern Ireland (the) 50.416667 -4.75
Manchester, United Kingdom of Great Britain and Northern Ireland (the) 53.4794892 -2.2451148

In [31]:
print(list)

[['Attiki, Greece', 37.9946543, 23.79940251269328], ['Dytiki Ellada, Greece', 38.6862245, 22.0995527], ['Kriti, Greece', 35.5307519, 23.8089529], ['Thessalia, Greece', 39.5594194, 21.6848495], ['Bucuresti, Romania', 44.4361414, 26.1027202], ['Moskva, Russian Federation (the)', 55.7504461, 37.6174943], ['Burgenland, Austria', 47.5000001, 16.4166666], ['Karnten, Austria', 46.7500001, 13.8333333], ['Niederosterreich, Austria', 48.2817813, 15.7632457], ['Oberosterreich, Austria', 48.25, 14.0], ['Salzburg, Austria', 47.7981346, 13.0464806], ['Tirol, Austria', 47.223193, 11.5261028], ['Voralberg, Austria', 47.39139765, 9.728270589443396], ['Bjelovar-bilogora, Croatia', 45.8986944, 16.8422031], ['Dubrovnik-Neretva, Croatia', 42.6502473, 18.0924947], ['Grad Zagreb, Croatia', 45.8011683, 15.97706172248073], ['Istra, Croatia', 45.193434499999995, 13.915053587355306], ['Karlovac, Croatia', 45.4892522, 15.5486303], ['Koprivnica-krizevci, Croatia', 46.162359, 16.8308094], ['Krapina-zagorje, Croatia', 46.1628028, 15.8711133], ['Lika-senj, Croatia', 44.630214, 15.341356], ['Medimurje, Croatia', 46.4232963, 16.4661353], ['Osijek-baranja, Croatia', 45.5548719, 18.6953719], ['Pozega-slavonija, Croatia', 45.3368143, 17.673534467694594], ['Primorje-gorski Kota, Croatia', 44.9584112, 14.4094841], ['Å ibenik, Croatia', 43.7337065, 15.8964835], ['Sisak-moslavina, Croatia', 45.488809, 16.3754052], ['Varazdin, Croatia', 46.3079645, 16.3378198], ['Virovitica-podravina, Croatia', 45.8331834, 17.3853058], ['Vukovar-srijem, Croatia', 45.3444116, 19.0023817], ['Guangzhou city (Guangzhou district, Guangdong Sheng province), China', 23.01196865, 113.39835434917498], ['Diekirch, Luxembourg', 49.8690898, 6.1600549], ['Grevenmacher, Luxembourg', 49.679313, 6.4430979], ['Alba, Romania', 46.015921250000005, 23.54685524706489], ['Arad, Romania', 46.1753793, 21.3196342], ['Arges, Romania', 44.994993550000004, 24.848632440149892], ['Bacau, Romania', 46.42613415, 26.71205400126924], ['Bihor, Romania', 46.992055, 22.190274243393223], ['Bistrita-nasaud, Romania', 47.1772493, 24.541141488483973], ['Botosani, Romania', 47.85234105, 26.759511926593397], ['Braila, Romania', 45.2716092, 27.9742932], ['Brasov, Romania', 45.6523093, 25.6102746], ['Bucuresti, Romania', 44.4361414, 26.1027202], ['Buzau, Romania', 45.26925815, 26.7748172789942], ['Calarasi, Romania', 44.315187449999996, 27.13901564813344], ['Caras-severin, Romania', 45.12713445, 22.077144477556658], ['Cluj, Romania', 46.769379, 23.5899542], ['Constanta, Romania', 44.1767161, 28.6507598], ['Covasna, Romania', 45.896679250000005, 26.010180611745668], ['Dimbovita, Romania', 44.7677425, 25.5620315], ['Boj, Romania', 45.8973594, 23.1503821], ['Galati, Romania', 45.4338215, 28.0549395], ['Giurgiu, Romania', 43.8959058, 25.9658111], ['Gorj, Romania', 44.961167450000005, 23.325679902293135], ['Harghita, Romania', 46.6440949, 25.620080897737118], ['Hunedoara, Romania', 45.7958547, 22.944483784106403], ['Ialomita, Romania', 44.598095900000004, 27.20396979270908], ['Iasi, Romania', 47.1615341, 27.5836142], ['Maramures, Romania', 47.672161, 24.195473673014465], ['Mehedinti, Romania', 44.6042177, 23.05267739338317], ['Mures, Romania', 46.60646055, 24.62467862914629], ['Neamt, Romania', 46.990657, 26.48491657449838], ['Olt, Romania', 44.29140195, 24.46610792597381], ['Prahova, Romania', 45.10875455, 26.03762296377709], ['Salaj, Romania', 47.1562143, 23.01685986860678], ['Satu Mare, Romania', 47.7891763, 22.8725598], ['Sibiu, Romania', 45.7973912, 24.1519202], ['Suceava, Romania', 47.53265345, 25.834593917414125], ['Teleorman, Romania', 44.06812915, 25.18653177142434], ['Timis, Romania', 45.69131845, 21.632126831488254], ['Tulcea, Romania', 45.177518, 28.8016348], ['Vaslui, Romania', 46.4977648, 27.803085484685425], ['Vilcea, Romania', 45.1031731, 24.3647209], ['Bucuresti province, Romania', 46.7818231, 23.6121089], ['Thessalia, Greece', 39.5594194, 21.6848495], ['Dytiki Ellada, Greece', 38.6862245, 22.0995527], ['Attiki, Greece', 37.9946543, 23.79940251269328], ['Aiti, Japan', 34.9991645, 137.254574], ['Ehime, Japan', 33.6013646, 132.8185275], ['Gifu, Japan', 35.7867449, 137.0460777], ['Gunma, Japan', 36.52198, 139.033483], ['Hirosima, Japan', 34.3916058, 132.4518156], ['Hukui, Japan', 35.1134587, 135.3356716], ['Hukuoka, Japan', 36.7081496, 136.9317149], ['Hukusima, Japan', 37.75454, 140.4592144], ['Ibaraki, Japan', 36.2869536, 140.4703384], ['Isikawa, Japan', 40.5567587, 140.5298481], ['Kagawa, Japan', 35.3562043, 139.3999184], ['Kagosima, Japan', 31.521587, 130.5474077], ['Kanagawa, Japan', 35.4715259, 139.6275201], ['Kooti, Japan', -3.1110771, 37.5985937], ['Kumamoto, Japan', 32.6450475, 130.6341345], ['Mie, Japan', 34.7339685, 136.5154489], ['Miyagi, Japan', 34.9743154, 139.8396996], ['Miyazaki, Japan', 31.9076334, 131.4204022], ['Nagano, Japan', 36.1143945, 138.0319015], ['Nagasaki, Japan', 33.1154683, 129.7874339], ['Nara, Japan', 34.2963089, 135.8816819], ['Niigata, Japan', 37.6452283, 138.7669125], ['Okayama, Japan', 34.6553944, 133.9194595], ['Okinawa, Japan', 26.4748948, 127.91146866408414], ['Ooita, Japan', 33.2393864, 131.6096524], ['Oosaka, Japan', 35.4945398, 134.358479], ['Saga, Japan', 33.2185408, 130.1296585], ['Saitama, Japan', 35.9754168, 139.4160114], ['Siga, Japan', 35.247154, 136.109385], ['Simane, Japan', 34.9418212, 132.537439], ['Sizuoka, Japan', 34.979149, 138.38299], ['Tiba, Japan', 35.549399, 140.2647303], ['Tokusima, Japan', 33.9196418, 134.2509634], ['Totigi, Japan', 36.6782167, 139.8096549], ['Tottori, Japan', 35.3555075, 133.8678525], ['Toyama, Japan', 36.6957569, 137.2136215], ['Wakayama, Japan', 34.234617, 135.1782181], ['Yamagata, Japan', 38.2553393, 140.3400205], ['Yamaguti, Japan', 34.702109, 137.532735], ['Banska Bystrica, Slovakia', 48.7384028, 19.1573494], ['Bratislava, Slovakia', 48.1516988, 17.1093063], ['Kosice, Slovakia', 48.7172272, 21.2496774], ['Nitra, Slovakia', 48.31295, 18.0894593], ['Presov, Slovakia', 48.9975724, 21.2401811], ['Trencin, Slovakia', 48.8923583, 18.0393715], ['Trnava, Slovakia', 48.3767652, 17.5858175], ['Moska, Russian Federation (the)', 55.7504461, 37.6174943], ['Moskovskaya Oblast, Russian Federation (the)', 56.3209761, 43.9471056], ['Volgogradskaya Oblast, Russian Federation (the)', 51.8416436, 55.1277915], ['England, United Kingdom of Great Britain and Northern Ireland (the)', 52.5310214, -1.2649062], ['Vlaams Gewest, Belgium', 51.096246199999996, 4.178629103169916], ['Region de Bruxelles-Capitale / Brussels Hoofdstedelijk Gewes, Belgium', 50.8584406, 4.3557975], ['Andhra Pradesh, India', 15.9240905, 80.1863809], ['Telangana, India', 17.8495919, 79.1151663], ['Maharashtra, India', 18.9068356, 75.6741579], ['Odisha (Orissa), India', 20.5431241, 84.6897321], ['Cornwall, United Kingdom of Great Britain and Northern Ireland (the)', 50.416667, -4.75], ['Manchester, United Kingdom of Great Britain and Northern Ireland (the)', 53.4794892, -2.2451148]]

In [32]:
lat_lon = DataFrame(list,columns=['Location','Lat','Lon'])

print(lat_lon)

                                              Location        Lat        Lon
0                                       Attiki, Greece  37.994654  23.799403
1                                Dytiki Ellada, Greece  38.686225  22.099553
2                                        Kriti, Greece  35.530752  23.808953
3                                    Thessalia, Greece  39.559419  21.684849
4                                   Bucuresti, Romania  44.436141  26.102720
..                                                 ...        ...        ...
130                                   Telangana, India  17.849592  79.115166
131                                 Maharashtra, India  18.906836  75.674158
132                             Odisha (Orissa), India  20.543124  84.689732
133  Cornwall, United Kingdom of Great Britain and ...  50.416667  -4.750000
134  Manchester, United Kingdom of Great Britain an...  53.479489  -2.245115

[135 rows x 3 columns]

In [33]:
df_merge = pd.merge(df, lat_lon, on='Location',how='left')

print(df_merge)

     Number         Dis No                                            Country  \
0       4.0  2000-0379-GRC                                             Greece
1       NaN  2000-0379-GRC                                             Greece
2       NaN  2000-0379-GRC                                             Greece
3       NaN  2000-0379-GRC                                             Greece
4       NaN  2000-0379-GRC                                             Greece
..      ...            ...                                                ...
179   130.0  2018-0226-KOR                            Korea (the Republic of)
180   136.0  2019-0296-GBR  United Kingdom of Great Britain and Northern I...
181     NaN  2019-0296-GBR  United Kingdom of Great Britain and Northern I...
182   142.0  2019-0366-NLD                                  Netherlands (the)
183   148.0  2020-0530-NLD                                  Netherlands (the)

                               City  \
0    Anatoliki Makedonia Kai Thraki
1                            Attiki
2                            Attiki
3                     Dytiki Ellada
4                     Dytiki Ellada
..                              ...
179                  Entire country
180                        Cornwall
181                      Manchester
182                  Entire country
183                  Entire country

                                              Location        Lat        Lon
0               Anatoliki Makedonia Kai Thraki, Greece        NaN        NaN
1                                       Attiki, Greece  37.994654  23.799403
2                                       Attiki, Greece  37.994654  23.799403
3                                Dytiki Ellada, Greece  38.686225  22.099553
4                                Dytiki Ellada, Greece  38.686225  22.099553
..                                                 ...        ...        ...
179            Entire country, Korea (the Republic of)        NaN        NaN
180  Cornwall, United Kingdom of Great Britain and ...  50.416667  -4.750000
181  Manchester, United Kingdom of Great Britain an...  53.479489  -2.245115
182                  Entire country, Netherlands (the)        NaN        NaN
183                  Entire country, Netherlands (the)        NaN        NaN

[184 rows x 7 columns]

In [34]:
df_merge.to_csv("/Users/zhuziyue/Desktop/lat_lon.csv")

In [7]:
location = geolocator.geocode("Austria")
lat = location.latitude
lon = location.longitude
print(lat, lon)

47.2 13.2