In [9]:

# Import Meteostat library and dependencies
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily ,Stations
import pandas as pd

In [3]:
# all of the country codes and responding names
country=['AL','AR','AM','AW','AU','AT','AZ','BS','BH','BB','BY','BE','BM','BA','BR','VG','BN','BG','CV','CA','KY','CL','HK','MO','CK','CR','HR','CU','CY','CZ','DK','EG','SV','EE','FJ','FI','FR','GF','PF','GE','DE','GI','GR','GL','GP','GT','HU','IS','IR','IE','IL','IT','JP','KZ','KW','KG','LV','LB','LI','LU','MY','MV','MT','MQ','MU','YT','MX','MN','NL','NC','NZ','NO','PK','PA','PH','PL','PT','PR','QA','KR','RE','RO','RU','SH','LC','PM','WS','RS','SG','SK','SI','ES','LK','SR','SE','CH','SY','TJ','TH','TT','TR','TC','UA','AE','GB','US','VI','UY','UZ','VE']
countryname=['Albania'	,'Argentina'	,'Armenia'	,'Aruba'	,'Australia'	,'Austria'	,'Azerbaijan'	,'Bahamas'	,'Bahrain'	,'Barbados'	,'Belarus'	,'Belgium'	,'Bermuda'	,'Bosnia and Herzegovina'	,'Brazil'	,'British Virgin Islands'	,'Brunei Darussalam'	,'Bulgaria'	,'Cabo Verde'	,'Canada'	,'Cayman Islands'	,'Chile'	,'China, Hong Kong SAR'	,'China, Macao SAR'	,'Cook Islands'	,'Costa Rica'	,'Croatia'	,'Cuba'	,'Cyprus'	,'Czechia'	,'Denmark'	,'Egypt'	,'El Salvador'	,'Estonia'	,'Fiji'	,'Finland'	,'France'	,'French Guiana'	,'French Polynesia'	,'Georgia'	,'Germany'	,'Gibraltar'	,'Greece'	,'Greenland'	,'Guadeloupe'	,'Guatemala'	,'Hungary'	,'Iceland'	,'Iran (Islamic Republic of)'	,'Ireland'	,'Israel'	,'Italy'	,'Japan'	,'Kazakhstan'	,'Kuwait'	,'Kyrgyzstan'	,'Latvia'	,'Lebanon'	,'Liechtenstein'	,'Lithuania'	,'Luxembourg'	,'Malaysia'	,'Maldives'	,'Malta'	,'Martinique'	,'Mauritius'	,'Mexico'	,'Mongolia'		,'Netherlands'	,'New Caledonia'	,'New Zealand'	,'Norway'	,'Pakistan'	,'Panama'	,'Philippines'	,'Poland'	,'Portugal'	,'Puerto Rico'	,'Qatar'	,'Republic of Korea'	,'Reunion'	,'Romania'	,'Russian Federation'	,'Saint Helena ex. dep.'	,'Saint Lucia'	,'Saint Pierre and Miquelon'	,'Samoa'	,'Serbia'	,'Singapore'	,'Slovakia'	,'Slovenia'	,'Spain'	,'Sri Lanka'	,'Suriname'	,'Sweden'	,'Switzerland'	,'Syrian Arab Republic'	,'Tajikistan'	,'Thailand'	,'Trinidad and Tobago'	,'Turkey'	,'Turks and Caicos Islands'	,'Ukraine'	,'United Arab Emirates'	,'United Kingdom of Great Britain and Northern Ireland'	,'United States of America'	,'United States Virgin Islands'	,'Uruguay'	,'Uzbekistan'	,'Venezuela (Bolivarian Republic of)']

In [14]:
list=[]
country=['AL','AR']
countryname=['Albania'	,'Argentina']
for i,country in enumerate(country):
    stations=Stations()
    stations=stations.region(country)
    station=stations.fetch()
    start=datetime(2019,7,1)
    end=datetime(2019,7,31)
    data = Daily(station, start, end)
    data = data.aggregate('M')
    data=data.fetch()
    data['datetime'] = data.index.get_level_values('time')
    data=data.reset_index(drop=True,inplace=False)
    a=data.groupby('datetime', as_index=False)['tavg'].mean()
    b=data.groupby('datetime', as_index=False)['tmin'].min()
    c=data.groupby('datetime', as_index=False)['tmax'].max()
    d=data.groupby('datetime', as_index=False)['prcp'].sum()
    e=data.groupby('datetime', as_index=False)['wspd'].mean()
    final=pd.merge(a,b)
    final=pd.merge(final,c)
    final=pd.merge(final,d)
    final=pd.merge(final,e)
    final.insert(0,'country',countryname[i])
    list.append(final)
df = pd.concat(list)
df

     country   datetime       tavg  tmin  tmax    prcp       wspd
0    Albania 2019-07-31  24.225000  13.0  36.2   363.0   7.000000
0  Argentina 2019-07-31   9.219403 -14.0  32.2  1862.0  11.354717